.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid MediumPurple;
  }
  
.input-group label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Quicksand';
  }

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    padding: 10px 10px;
    background: transparent;
    border: none;
    outline: none;
  }
