.diagonal {
    position: absolute;
    top: 60%; 
    left: 10%; 
    transform: rotate(-45deg);
    transform-origin: left bottom;
    padding: 10px;
    font-family: 'Protest Riot';
    font-weight: 300;
    background-color: MediumPurple;
    border-radius: 10px;
    color: #ffffff;
}

.passForm {
    background-color: LightSkyBlue;
    border-radius: 5px;
    max-width: 500px;  
    margin: 200px auto;  
    padding: 20px;
}